body h2{
    font-family: cursive;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.section-1 p{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.section-1 h2{
    font-size: 50px;
    color: #fff;
}
.section-1{
    display: flex;
    padding: 5%;
    background-image: url(wave.svg);
    background-repeat: no-repeat;
    background-size: 112%;
    background-color: antiquewhite;
}
.half-width{
    width: 50%;
}
img{
    width: 70%;
    margin-left: 280px;
    margin-top: 0;
    padding-top: 0;
}
.btn{
    text-decoration: none;
    padding: 10px 50px;
    border: none;
    outline: none;
    border-radius: 15px;
    background-image: linear-gradient(blue, purple);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.section-2 img{
    width: 50%;
    border-radius: 50%;
    margin-left: 20%;
}
.section-2{
    display: flex;
}
.section-2 .half-width1{
    margin-top: 150px;
    width: 30%;
    margin-left: 200px;
}


.section-2 .half-width1 h2{
    font-family: cursive;
    font-size: 40px;
}

.section-2 .half-width1 p{
    font-size: 15px;
    font-weight: 300;
}

.section-2{
    background-color: rgb(216, 216, 215);
}

.section-3 .head{
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
.section-3 .head h2{
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-top: 40px;
}
.section-3 .head p{
    width: 30%;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 660px;
}

.parent{
    display: flex;
    padding: 0 10%;
}
.child{
    box-shadow: 10px 5px 40px rgb(57, 57, 57);
    margin: 2%;
    width: 300px;
    padding: 50px;
    border-radius: 0 55px 0 40px;
    margin: 0 auto;
    border-left: 5px solid rgba(120, 106, 229, 1);
}

.child h4{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.child p{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 300;
}
.btn1{
    border: none;
    outline: none;
    background-image: linear-gradient(blue, purple);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 50px;
}
footer{
    text-align: center;
    background-color: beige;
    padding: 10px;
    margin-top: 35px;
    font-size: 25px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}